* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background: white;
    color: black;
}

.clearfix {
    overflow: auto;
}

/* Navigation bar */
#menu {
    background-color: #F0FFF0;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #ADD8E6;
}

#menu ul {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
}

#menu li {
    list-style: none;
    padding: 0.1em;
}

#menu a {
    display: block;
    padding: 0 10px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

#main-menu li.current a {
    background: white;
    color: black;
}

/* Header*/

#title {
    text-align: center;
    font-size: 1.4em;
    background-size: cover;
    background-size: cover;
    align-content: center;
}

#title h1 {
    font-weight: 100;
    font-size: 1.4em;
    line-height: 2em;
    padding: 2em 0.5em 3% 5em;
    font-size: 2.5em
}

#title p {
    padding: 1em 2.5em 0 15em;
}

#title .button {
    text-align: center;
    padding: 1em 3.9em 0 12em;
}

#title .button a {
    background-color: #ADD8E6;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 8px;
}

#title img {
    width: 25%;
    padding-top: 6em;
    padding-left: 3em;
    float: left;
}

body.first-page #title {
    background-color: white;
}

/* Make each section a page */

section {
    display: block;
    height: 100%;
    width: 100%;
    padding: 60px;
    padding-left: 120px;
    box-sizing:border-box;
}

/* About me page */

#about {
    background-color: #ADD8E6;
    margin-top: 6em;
    text-align: center;
}

#about h2{
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

#about img {
    width: 25%;
}

#about p {
    font-size: 1em;
    line-height: 2em;
}

#about .fa {
    padding: 7px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15%
}
#about .fa-facebook {
    background: #3B5998;
    color: white;
}

#about .fa-instagram {
    background: #125688;
    color: white;
}

#about .fa-google {
    background: #dd4b39;
    color: white;
}

#about .email {
    color: white
}

/* About my team page */

#team {
    text-align: center; 
    margin-top: 3em;  
}

#team h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#team h3 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em
}

#team img {
    margin-left: auto;
    margin-right: auto;
}

/* Project page */

#project {
    text-align: center;
    background-color: #ADD8E6;
}

#project h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#project h3 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#project .mine {
    border-radius: 15%;
}

/* Case Studies page */

#case-studies {
    text-align: center;
}

#case-studies h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#case-studies h3 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#case-studies img {
    margin-left: auto;
    margin-right: auto;
}